@{
    ViewBag.Title = "ThongBaoDatHang";
}

<div style="text-align: center; padding: 50px;">
    <h2 style="color: green;">✓ Đặt hàng thành công!</h2>
    <br />
    <p style="font-size: 18px;">
        Đơn hàng của quý khách đã được chúng tôi ghi nhận.<br />
        Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.
    </p>
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Về trang chủ</a>
</div>